.block{
    width: 400px;
}

.block__form{
   
}

.name{
    font-size: 40px;
    padding: 8px 2px;
    font-weight: 500;
    cursor: default;
    width: calc(100% - 4px);
}

.name:hover{
    background: rgba(0, 0, 0, 0.06);
}

.address{
    padding: 8px 2px;
    font-size: 16px;
    cursor: default;
    width: calc(100% - 4px);
}

.address:hover{
    background: rgba(0, 0, 0, 0.06);
}

.sity{
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.sity img{
    margin-right: 5px;
}

.tag{

}

.tag__list{
    display: flex;
    align-items: center;
    margin: 8px -4px -4px -4px;
    flex-wrap: wrap;
}

.tag__item{
    background-color: #333333;
    border-radius: 4px;
    color: #fff;
    padding: 5px 5px 6px 5px;
    margin: 4px;
    font-size: 14px;
    position: relative;
    cursor: default;
}

.tag__item:hover{
    background-color: #3f3f3f;
}

.tag__itemRemove{
    position: absolute;
    right: -6px;
    top: -6px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    opacity: 0;
    cursor: pointer;
}

.tag__itemRemove span{
    transform: rotate(45deg);
}

.tag__item:hover .tag__itemRemove{
    transition: .3s;
    opacity: 1;
}

.tag__plus{
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    border-radius: 4px;
    margin: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.tag__plus:hover{
    background-color: #3f3f3f;
}

.tag__form{
    margin: 4px;
}


@media screen and (max-width: 425px){
    .block{
        width: unset;
    }
}