body {
  margin: 0;
  font-family: -apple-system, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  min-width: 300px;
  font-size: 16px;
}

h2{
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
}

h3{
  font-size: 21px;
  font-weight: 500;
  line-height: 21px;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1270px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}


.wrap{
  display: flex;
  flex-wrap: wrap;
  margin-left: -17px;
  margin-right: -17px;
}

.wrapCel{
  margin: 17px;
  &_3{
    width: calc(100% / 4 - 34px);
  }
  &_6{
    width: calc(100% / 2 - 34px);
  }
}

$step: (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 100, 150);

$ot_map: (m: margin, p:padding);

@each $n, $c in $ot_map{
    .#{$n}{
        @each $v in $step {
            &t#{$v} {
                #{$c}-top: #{$v}px;
            }
            &b#{$v} {
                #{$c}-bottom: #{$v}px;
            }
            &r#{$v} {
                #{$c}-right: #{$v}px;
            }
            &l#{$v} {
                #{$c}-left: #{$v}px;
            }
        }
    }
}


@media screen and (max-width: 1220px){
  .wrapCel{
    &_3{
      width: calc(100% / 3 - 34px);
    }
    &_6{
      width: calc(100% / 2 - 34px);
    }
  }
}

@media screen and (max-width: 940px){
  .wrapCel{
    &_3{
      width: calc(100% / 2 - 34px);
    }
    &_6{
      width: calc(100% / 1 - 34px);
    }
  }
}

@media screen and (max-width: 627px){
  .wrapCel{
    &_3{
      width: calc(100% / 1 - 34px);
    }
  }
}

@media screen and (max-width: 425px){
  .wrap{
    display: block;
  }
}