body {
  margin: 0;
  font-family: -apple-system, 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000000;
  overflow-x: hidden;
}

.conteiner{
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px;
}


.wrap{
  display: flex;
  flex-wrap: wrap;
  margin-left: -17px;
  margin-right: -17px;
}

.wrap-cel{
  margin: 17px;
}